.signin-container {
  width: 30%;
  text-align: center;
  margin: 5% auto;
}

mat-form-field {
  width: 50%;
}

.submit-button {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 50%;
}
