<!--
  Title: 
    WEB450 - nobucket: Sprint 3
Author: 
    Adam Rodgers
Date: 
    4/10/2022
Modified By: Adam Rodgers
Description: nodebucket
Resources:
    Bellevue University WEB450 Github Repo
-->
<br />
<br />

<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="3%">
  <div fxFlex="60%">
    <div fxLayout="column">
      <img class="about-img" src="../../../assets/photo-1556761175-b413da4baf72.avif" />
    </div>
    <div fxFlex="40%" fxLayout="column">
      <h1>What is nodebucket?</h1>
      <p>
        nodebucket is a web-based, Kanban-style, list-making application that allows you to manage your tasks and stay organized. As the fastest
        growing task management application on the market, it provides project managers with real-time visibility on project status.
      </p>
      <h2>Add new tasks</h2>
      <p>
        Add new tasks you want to track with a simple click of the mouse. Tasks can be organized in one of three buckets--to-do, in progress, and
        done. The drag-and-drop feature makes it easy and fast to update task statuses.
      </p>
      <h2>Manage tasks with ease</h2>
      <p>
        Cards keep your tasks organized and in one place. As you start or complete a task, just drag it over to the correct new column. Team members
        can track their work tasks at every stage, and nodebucket gives them the power to revise and update tasks at any time, keeping true to the
        continuous improvement and continuous delivery values of Agile and DevOps
      </p>
      <h2>It's secure</h2>
      <p>With secure login, your tasks are only seen by you.</p>
    </div>
  </div>
</div>
